*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background: linear-gradient(to right bottom, rgb(168, 110, 120), rgb(39, 134, 174));
    height: 100vh;
    padding: 2em 5em;
}
h1 {
    color: white;
}
article > p {
    margin: 1em 0;
}
.details ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1.5em;
}

.ingredients {
    margin-bottom: 2em;
}
h3 {
    background-color: rgb(102, 178, 178);
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.details-header {
    color: white;
    text-decoration: underline;
}

:is(.ingredients, .howToDo) li {
    margin-left: 2.5em;
    margin-top: .5em;
}

.afied {
    text-align: end;
    margin: 1em 0 0 25em;
    padding: 5px 10px;
    font-size: 2em;
    border: 1px solid white;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
}